<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Allgemeine Einstellungen</title>
        <title xml:lang="en-GB">General settings</title>

        <input-field type="bool">
            <name>showPromotionInput</name>
            <label>Gutscheinfeld im Checkout anzeigen</label>
            <label xml:lang="en-GB">Show promotion input in checkout</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
</config>